<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="./css/general.css">

    <link rel="stylesheet" href="./css/adminNavbar.css">
    <script src="./js/adminNavbar.js"></script>

    <link rel="stylesheet" href="./css/viewUsers.css">
    <script src="./js/users.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <script> loadAdminNavbar() </script>
    <main class="content">
        <div id="notification" class="notification hidden"></div>
        <h2>View Users</h2>
        <table id="usersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <script> loadUsers() </script>
            </tbody>
        </table>
    </main>
    <div>test</div>

</body>

</html>