<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - View Products</title>

    <base href="http://localhost:3000/Dashboard/" />

    <link rel="stylesheet" href="./css/general.css">

    <link rel="stylesheet" href="./css/adminNavbar.css">
    <script src="./js/adminNavbar.js"></script>

    <link rel="stylesheet" href="./css/viewCategories.css">
    <script src="./js/products.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <script> loadAdminNavbar() </script>
    <main class="content">
        <div id="notification" class="notification hidden"></div>
        <h1>Products</h1>
        <table id="productsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Original Price</th>
                    <th>Discount Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <script> loadProducts() </script>
            </tbody>
        </table>
    </main>
</body>

</html>
